
html, body {
    width: 100%;
    height: 100%;
    font-size: 100%;
    margin: 0;
}

.canvas-container {
    position: relative;
}

.canvas-item-hero {
    position: absolute;
    top: 0;
    left: 0;
    z-index: 1;
    background-color: white;
    border: 1px solid black;
}

.text-over-canvas {
    position: relative;
    z-index: 1
}

.canvas-board {
}

#chat-popup {
    display:none;
    position:fixed;
    right:100px;
    bottom:50px;
    background-color:#808080;
    padding: 1.875em;
    width:21.875em;
    height:37.5em;
    border-radius:0.625em;
    flex-direction:column;
    overflow-y: auto;
}
#chat-room {
    display:block;
    word-break: break-all;
    font-size: 1.0rem;
}

#btnChat {
    position: fixed;
    right: 10px;
    bottom: 50px;
}

#chat {
    position: fixed;
    width: 100%;
    max-width: 18.125em;
    bottom: inherit;
    transform: translate(0,-10px);
}
